.ue-coupon-form {
	display: grid;
	grid-template-columns: 65% 1fr;
	gap: 8px;
	width: 100%;
}

.ue-coupon-form input.ue-coupon-inp-field[type=text] {
	border-radius: 0;
	line-height: inherit;
	height: 100%;
	outline: 0;
  	padding: 12px;
	width: 100%;
}

.apply-coupon-button {
	background-color: #333;
  	border: none;
	color: #fff;
	cursor: pointer;
	display: flex;
	flex-wrap: wrap;
	line-height: inherit;
	justify-content: center;
	align-items: center;
	padding: 12px 0;
	width: 100%;
}

.ue-coupon-form .woocommerce-message,
.ue-coupon-form .woocommerce-error {
	grid-column: span 2;
	padding: 7px 12px;
	background-color: #d3ffad;
	color: #333;
	text-transform: uppercase;
	font-size: 12px;
	transition: all 0.3s;
  	list-style: none;
}

.ue-input-field {
	position: relative;
	width: 100%;
}

.ue-input-field:not(.ue-input-field--anim) label,
.ue-coupon-form .hide-notice,
.ue-coupon-form .woocommerce-message:before,
.ue-coupon-form .woocommerce-error > li:before {
	display: none;
}

.ue-input-field--anim label {
	position: absolute;
	top: 50%;
	left: 12px;
	transform: translateY(-50%);
	pointer-events: none;
	transition: 0.3s;
}

.ue-coupon-inp-field:focus ~ label,
.ue-coupon-inp-field:valid ~ label {
	background: #fff;
	font-size: 12px;
	padding: 0 2px;
	top: 0;
	left: 10px;
} 
